# Personal settings
[user]
  name = Ho-Pang Hsu
  email = hopang.hsu@gmail.com

[core]
  editor = /usr/bin/vim
  excludesfile = ~/.gitignore
  pager = cat
  
[color]
  ui = auto

[alias]
  cshow = "show --color=always"
  cdiff = "diff --color=always"
